<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="zl">
        <p>{{message+1}}</p>
        <p v-html="texthtml"></p>
        <div v-bind:class="stylecss"><span>动态样式</span></div>
        <p>{{bool?"YES":"NO"}}</p>
        <p v-if="condition">翻转前：zengli；翻转后：{{myname.split('').reverse().join('')}}</p>
        <div @click="click1">
            点击我1
            <div @click.stop="click2">
                点击我2
            </div>
        </div>
        <p v-bind:class="{active:isActive,white:IsGreen}">动态样式2</p>
        <p v-bind:class="[isActive?'active':'',IsGreen?'white':'']">动态样式3</p>
        <p :style="{color:color,fontSize:size}">动态样式4</p>
        <p v-if="type=='A'">if条件渲染：A</p>
        <p v-else-if="type=='B'">if条件渲染：B</p>
        <p v-else-if="type=='C'">if条件渲染：C</p>
        <p v-else>if条件渲染：Others</p>
        <p v-show="ok">show条件渲染</p>
        <ul>
            <li v-for="item in items">数组循环1：{{item.message}}</li>
            <p></p>
            <li v-for="item,index in items">数组循环2：{{index}}{{item.message}}</li>
            <p></p>
            <li v-for="item,index in items" :key="index">数组循环3：{{index}}{{item.message}}</li>
            <p>-------------</p>
        </ul>
        <ul>
            <li v-for="value in objects">对象循环1：{{value}}</li>
            <p></p>
            <li v-for="value,key in objects">对象循环2：{{key}}：{{value}}</li>
            <p></p>
            <li v-for="value,key in objects" :key="key">对象循环3：{{key}}：{{value}}</li>
        </ul>
        <button v-on:click="counthandle(count)">点击计数：{{count}}</button>
        <p>-----双向绑定及表单提交测试-----</p>
        <div>
            <input type="text" v-model="onething" placeholder="请输入单行文本...">
            <div>您输入的是：{{onething}}</div>
        </div>
        <div>
            <textarea type="text" v-model="something" placeholder="请输入多行文本..."></textarea>
            <div>您输入的是：{{something}}</div>
        </div>
        <div>一道多项选择题：
            <input type="checkbox" id="father" value="father" v-model="checkedparent">
            <label for="father">father</label></input>
            <input type="checkbox" id="mother" value="mother" v-model="checkedparent">
            <label for="mother">mother</label></input>
            <input type="checkbox" id="son" value="son" v-model="checkedparent">
            <label for="son">son</label></input>
            <br>
            <span>CheckValue：{{checkedparent}}</span>
        </div>
        <div>一道radio单选题：
            <input type="radio" id="man" value="Man" v-model="radiogender">
            <label for="man">Man</label></input>
            <input type="radio" id="woman" value="Woman" v-model="radiogender">
            <label for="woman">Woman</label></input>
            <br>
            <span>RadioValue:{{radiogender}}</span>
        </div>
        <div><input type="submit" v-on:click="submit"></div>
        <p>-----组件使用测试-----</p>
        <button-counter title="com1" @diy_event='diy_event'>
            <span>通过组件插槽'slot'，实现组件内自定义html标签</span>
        </button-counter>
        <button-counter title="com2"></button-counter>
    </div>

    <!-- JavaScript -->
    <script type="text/javascript">
        Vue.component('button-counter', {
            props: ['title'],//设置组件属性
            data: function () {
                return { comcount: 0 }
            },
            template: //组件，需要有根节点！
                `<div>
                <h3>hi,这是一个组件哦！</h3>
                <button v-on:click="countevent">
                {{title}}组件的点击次数：{{comcount}}
                </button>
                <slot></slot>
            </div>`,
            methods: {
                countevent() {
                    this.comcount++;
                    this.$emit('diy_event', this.comcount, this.title);//给组件定义事件
                }
            },
        })

        var app = new Vue({
            el: '#zl',

            data: {
                message: 1,
                texthtml: '<span style="color:red">内嵌html</span>',
                stylecss: 'green',
                bool: true,
                myname: "zengli",
                condition: true,
                isActive: true,
                IsGreen: true,
                color: 'blue',
                size: '30px',
                type: 'A',
                ok: true,
                items: [
                    { message: '项目1' },
                    { message: '项目2' },
                    { message: '项目3' },
                ],
                objects: {
                    title: "《炒股致富的秘密》",
                    author: "zeng",
                    date: "2021-02-05 星期五",
                },
                count: 0,
                onething: '',
                something: '',
                checkedparent: ['father', 'mother'],
                radiogender: 'Man'
            },

            beforeCreate() {
                console.log('hi beforecreate!');
            },
            created() {
                console.log('hi its created!');
            },
            methods: {
                click1() {
                    console.log("clickl，我被点击了");
                },
                click2() {
                    console.log("click2,我也被点击了")
                },
                counthandle(num) {
                    alert(num);
                    this.count += 1;
                },
                submit() {
                    var obj = {
                        onething: this.onething,
                        something: this.something,
                        checkedparent: this.checkedparent,
                        radiogender: this.radiogender
                    };
                    console.log(obj);
                },
                diy_event(num, title) {//这个是实现组件内部事件
                    alert('弹窗说明成功实现' + title + '组件的事件:' + num);
                }
            },
        });
    </script>

    <!-- css -->
    <style type="text/css">
        .green {
            color: rgb(71, 255, 108);
        }

        .blue {
            color: blue;
            font-size: 20px;
        }

        .active {
            background: black;
        }

        .white {
            color: white;
            font-size: 30px;
        }
    </style>
</body>

</html>