<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="zl">
        <p>{{message+1}}</p>
        <p v-html="texthtml"></p>
        <div v-bind:class="stylecss"><span>动态样式</span></div>
        <p>{{bool?"YES":"NO"}}</p>
        <p v-if="condition">翻转前：zengli；翻转后：{{myname.split('').reverse().join('')}}</p>
        <div @click="click1">
            点击我1
            <div @click.stop="click2">
                点击我2
            </div>
        </div>
        <p v-bind:class="{active:isActive,white:IsGreen}">动态样式2</p>
        <p v-bind:class="[isActive?'active':'',IsGreen?'white':'']">动态样式3</p>
        <p :style="{color:color,fontSize:size}">动态样式4</p>
        <p v-if="type=='A'">if条件渲染：A</p>
        <p v-else-if="type=='B'">if条件渲染：B</p>
        <p v-else-if="type=='C'">if条件渲染：C</p>
        <p v-else>if条件渲染：Others</p>
        <p v-show="ok">show条件渲染</p>
        <ul>
            <li v-for="item in items">{{item.message}}</li>
        </ul>
        <ul>
            <li v-for="item in objects">{{item}}</li>
        </ul>
    </div>

    <!-- JavaScript -->
    <script type="text/javascript">
        var app = new Vue({
            el: '#zl',

            data: {
                message: 1,
                texthtml: '<span style="color:red">内嵌html</span>',
                stylecss: 'green',
                bool: true,
                myname: "zengli",
                condition: true,
                isActive: true,
                IsGreen: true,
                color: 'blue',
                size: '30px',
                type: 'A',
                ok: true,
                items: [
                    { message: '项目1' },
                    { message: '项目2' },
                    { message: '项目3' },
                ],
                objects: {
                    title: "《炒股致富的秘密》",
                    author: "zeng",
                    date: "2021-02-05 星期五",
                }
            },

            beforeCreate() {
                console.log('hi beforecreate!');
            },
            created() {
                console.log('hi its created!');
            },
            methods: {
                click1() {
                    console.log("clickl，我被点击了");
                },
                click2() {
                    console.log("click2,我也被点击了")
                }
            },
        });
    </script>

    <!-- css -->
    <style type="text/css">
        .green {
            color: rgb(71, 255, 108);
        }

        .blue {
            color: blue;
            font-size: 20px;
        }

        .active {
            background: black;
        }

        .white {
            color: white;
            font-size: 30px;
        }
    </style>
</body>

</html>